<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<false/>
	<key>EnableTransactions</key>
	<true/>
	<key>Label</key>
	<string>codes.rambo.research.appregistrard</string>
	<key>EnvironmentVariables</key>
	<dict/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/appregistrard</string>
		<string>daemon</string>
	</array>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.xpc.activity</key>
		<dict/>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.mobile.cryptex_mounted</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.mobile.cryptex_mounted</string>
			</dict>
		</dict>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>5</integer>
	<key>ProcessType</key>
	<string>App</string>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
</dict>
</plist>
